.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 50px 35px 10px 10px;
      cursor: pointer;
      font-size: 30px;
      font-weight: 700;
    }
  }
}

.logo {
  height: 90px;
}
