.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;
  @media (max-width: 850px) {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;
  }
  @media (max-width: 650px) {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 100px;
  }
}

.category-title {
  font-size: 38px;
  margin-bottom: 25px;
  text-align: center;
}
